drools-agents/sg-service-clients/dsa-integration-services/src/wsdl/DSAIntegration.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="urn:org:socraticgrid:dsa" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:org:socraticgrid:dsa">

    <xs:element name="deliverMessage" type="tns:deliverMessage"/>

    <xs:element name="deliverMessageResponse" type="tns:deliverMessageResponse"/>

    <xs:element name="getDirectoryAttribute" type="tns:getDirectoryAttribute"/>

    <xs:element name="getDirectoryAttributeResponse" type="tns:getDirectoryAttributeResponse"/>

    <xs:complexType name="deliverMessage">
        <xs:sequence>
            <xs:element name="arg0" type="tns:DeliverMessageRequestType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeliverMessageRequestType">
        <xs:sequence>
            <xs:element name="refId" type="xs:string"/>
            <xs:element name="subject" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="sender" type="xs:string"/>
            <xs:element name="mainRecipients" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="secondaryRecipients" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="hiddenRecipients" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="type" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="header" type="xs:string"/>
            <xs:element name="body" type="xs:string"/>
            <xs:element name="priority" type="xs:string"/>
            <xs:element name="deliveryDate" type="xs:string"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="originator" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="deliverMessageResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:DeliverMessageResponseType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeliverMessageResponseType">
        <xs:sequence>
            <xs:element name="status" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getDirectoryAttribute">
        <xs:sequence>
            <xs:element name="arg0" type="tns:GetDirectoryAttributeRequestType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetDirectoryAttributeRequestType">
        <xs:sequence>
            <xs:element name="uid" type="xs:string"/>
            <xs:element name="names" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getDirectoryAttributeResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:GetDirectoryAttributeResponseType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetDirectoryAttributeResponseType">
        <xs:sequence>
            <xs:element name="values" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>